@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700|Open+Sans:400,600');

@import 'colours';
@import 'nprogress';
@import 'transitions';

$--color-primary: $primary;
$--color-backdrop: $backdrop;

$--color-success: $success;
$--color-warning: $warning;
$--color-danger: $danger;
$--color-info: $info;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
@import 'overrides';
