// Gives a card depth effect.
// @param {Number} $height - height level (between 1 and 5)
// @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
// @requires {function} top-shadow
// @requires {function} bottom-shadow
@mixin elevate($height) {
  @if $height < 1 {
    box-shadow: none;
  } @else if $height > 5 {
    // Invalid height
  } @else {
    box-shadow: bottom-shadow($height), top-shadow($height);
  }
}

// Computes a top-shadow for a card effect.
// @param {Number} $height
// @return {List}
@function top-shadow($height) {
  $primary-offset: nth(1.5 3 10 14 19, $height) * 1px;
  $blur: nth(1.5 3 10 14 19, $height) * 4px;
  $color: rgba(0, 0, 0, nth(.12 .16 .19 .25 .3, $height));

  @return 0 $primary-offset $blur $color;
}

// Computes a bottom-shadow for a card effect.
// @param {Number} $height
// @return {List}
@function bottom-shadow($height) {
  $primary-offset: nth(1.5 3 6 10 15, $height) * 1px;
  $blur: nth(1 3 3 5 6, $height) * 4px;
  $color: rgba(0, 0, 0, nth(.24 .23 .23 .22 .22, $height));

  @return 0 $primary-offset $blur $color;
}
