@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700|Open+Sans:400,600');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('/static/MaterialIcons-Regular.woff2') format('woff2'),
  url('/static/MaterialIcons-Regular.woff') format('woff'),
  url('/static/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga'; // Support for IE.
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility; // Support for Safari and Chrome.
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}
